.investment__main{
    padding: 5%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 2rem;
}

.investment__header{
    gap: 2rem;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.investment__div{

}

.investment__h1{
    font-size: 2rem;
    font-weight: 500;
}

.investment__h2{
    margin-top: .5rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.investment__link{
    color: unset;
    text-decoration: none;
}

.investment__button{
    transition: all 1s;
    cursor: pointer;
    font-size: 1.2rem;
    color: unset;
    text-decoration: none;
    background: none;
}

.investment__button:hover{
    text-decoration: underline;
}

.investment__section{
    flex: 1;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.investment__top{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.investment__text{
    font-size: 1rem;
}

.investment__descr{
    font-size: 1rem;
    width: 50%;
}

.investment__bottom{

}

.investment__form{
    width: 200px;
}

.investment__input{
    width: 100%;
    border-radius: 5px;
    padding: .25rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.investment__flex{
    display: flex;
    justify-content: space-between;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #e5e5e5;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
}

.progress-bar-filled {
    background-color: var(--dark);
    height: 100%;
}

.progress-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    font-size: 12px;
    color: var(--dark);
    font-weight: bold;
}

.info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

@media screen and (min-width: 769px) {

    .investment__header{
        flex-direction: row;
    }

}
