.login__body {
    min-height: 100vh;
    display: flex;
}

.login__aside {
    display: none;
}

.login__main {
    background-image: url('../img/oficina.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login__content {
    background: var(--light);
    border-radius: 5px;
    width: 80%;
    padding: 1rem;
    margin: auto;
    text-align: center;
}

.login__h1 {
    font-size: 1.9rem;
    font-weight: 500;
}

.login__h2 {
    font-size: 1.3rem;
    font-weight: 400;
    padding-top: .25rem;
}

.login__form {
    text-align: start;
    background: var(--light);
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    border-radius: 5px;
}

.login__fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login__label {
    font-size: 1.2rem;
}

.login__input {
    font-size: 1.2rem;
    padding: .5rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px var(--grey);
}

.login__error{
    margin-top: .5rem;
    color: red;
}

.login__register {
    margin-top: 2rem;
}

.login__text {
    font-size: 1rem;
}

.login__link {
    font-size: 1rem;
}

p.alert.alert-danger{
    color: red;
}

@media screen and (min-width: 769px) {
    .login__aside {
        display: block;
        flex: 1;
        background-image: url('../img/oficina.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .login__main {
        background: var(--light);
    }

    .login__content {
        padding: 5%;
    }

    .login__form {
        margin: 2rem auto;
        width: 50%;
    }
}