<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>AssistPyme - Contactos</title>
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/contactos.css}"/>
</head>
<body class="body">
<div th:include="fragments :: navegadorLateral"></div>

<main class="contacts__main">

    <!---------------------------------------   BUSQUEDA   --------------------------------------->
    <header class="contacts__search">
        <form class="contacts__form" th:action="@{/buscar/contacto}" method="post">
            <input class="contacts__input" type="text" placeholder="Buscar contacto" name="nombre"/>
            <svg class="contacts__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </form>
    </header>
    <aside
            class="contacts__aside"
            th:if="${contactosEncontrados != null}"
    >
        <h3 class="contacts__atitle">Contactos encontrados</h3>
        <article
                class="contacts__article"
                th:each="contactoEncontrado : ${contactosEncontrados}"
        >
            <img
                    class="contacts__img"
                    th:src="@{img/perfil.jpg}"
                    alt="foto de perfil-contacto"
            />
            <p
                    class="contacts__text"
                    th:text="${contactoEncontrado.nombre}"
            >
                Usuario
            </p>


            <div
                    th:if="${contactoEncontrado?.enSuspension == false}"
            >
                <form
                        th:action="@{/suspender/usuario/{id}(id=${contactoEncontrado.id})}"
                        method="post" style="display:flex;justify-content: center; align-items: center"
                >
                    <input class="contacts__input" name="motivo" id="contactoEncontrado" placeholder="Motivo de suspensión" />

                    <button class="contacts__button" type="submit">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="contacts__svg"
                                viewBox="0 0 16 16"
                        >
                            <title>Suspender</title>
                            <path
                                    d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m.256 7a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"
                            />
                            <path
                                    d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 0 1 0V11a.5.5 0 0 0-.5-.5m0 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"
                            />
                        </svg>
                    </button>
                    <div th:if="${ mensajeContactoEnLista != null}">
                        <form th:action="@{/eliminar/contacto/{id}(id=${contactoEncontrado.id})}" method="post">
                            <button type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" class="contacts__svg" viewBox="0 0 16 16">
                                    <title>Eliminar</title>
                                    <path d="M12.5 9a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7m.354 5.854 1.5-1.5a.5.5 0 0 0-.708-.708l-.646.647V10.5a.5.5 0 0 0-1 0v2.793l-.646-.647a.5.5 0 0 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                                    <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                                </svg>
                            </button>
                        </form>
                    </div>
                </form>
            </div>


            <div
                    th:if="${contactoEncontrado != null && mensajeContactoEnLista == null && contactoEncontrado.enSuspension == false}"
            >
                <form
                        th:action="@{/agregar/contacto/{id}(id=${contactoEncontrado.id})}"
                        method="post"
                >
                    <button class="contacts__button" type="submit">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="contacts__svg"
                                viewBox="0 0 16 16"
                        >
                            <title>Agregar</title>
                            <path
                                    d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"
                            />
                            <path
                                    d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"
                            />
                        </svg>
                    </button>
                </form>
            </div>

            <div th:if="${ contactoEncontrado != null && mensajeContactoEnLista != null && contactoEncontrado?.enSuspension == true}"
                 style="display:flex;justify-content: center; align-items: center">

                 <form th:action="@{/eliminar/contacto/{id}(id=${contactoEncontrado.id})}" method="post">
                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" class="contacts__svg" viewBox="0 0 16 16">
                            <title>Eliminar</title>
                            <path d="M12.5 9a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7m.354 5.854 1.5-1.5a.5.5 0 0 0-.708-.708l-.646.647V10.5a.5.5 0 0 0-1 0v2.793l-.646-.647a.5.5 0 0 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                            <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                        </svg>
                    </button>
                </form>
                <p class="error" th:text="'Usuario suspendido'">Usuario suspendido</p>
            </div>

            <div th:if="${ contactoEncontrado != null && mensajeContactoEnLista == null && contactoEncontrado?.enSuspension == true}"
                 style="display:flex;justify-content: center; align-items: center">
                <form th:action="@{/agregar/contacto/{id}(id=${contactoEncontrado.id})}" method="post">
                    <button class="contacts__button" type="submit">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="contacts__svg"
                                viewBox="0 0 16 16"
                        >
                            <title>Agregar</title>
                            <path
                                    d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"
                            />
                            <path
                                    d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"
                            />
                        </svg>
                    </button>
                </form>
                <p class="error" th:text="'Usuario suspendido'">Usuario suspendido</p>
            </div>

        </article>
    </aside>

    <aside th:if="${mensajeContactoNoEncontrado}">
        <h1>No se encontró ningún contacto con ese nombre</h1>
    </aside>

    <!---------------------------------------   BUSQUEDA   --------------------------------------->


    <div>
        <!---------------------------------------   Contactos//////Sugeridos   --------------------------------------->


        <!---------------------------------------   Contactos   --------------------------------------->
        <section id="contactos">
            <h3 class="contacts__atitle">Contactos</h3>
            <article th:each="contacto : ${contactos}" class="contacts__article">
                <div class="contacts__data">
                    <img
                            class="contacts__img"
                            th:src="@{img/perfil.jpg}"
                            alt="foto de perfil-contacto"
                    />
                    <p
                            class="contacts__text"
                            th:text="${contacto.nombre}"
                            data-testid="contacto-name"
                    >
                        Usuario
                    </p>
                </div>

                <div th:if="${!contacto.enSuspension}" class="contacts__buttons">
                    <form th:action="@{/suspender/usuario/{id}(id=${contacto.id})}" method="post"
                          class="contacts__motivo">
                        <input class="contacts__area" name="motivo" placeholder="Motivo de suspensión" />
                        <button class="contacts__button" type="submit">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="contacts__svg"
                                    viewBox="0 0 16 16"
                            >
                                <title>Suspender</title>
                                <path
                                        d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m.256 7a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"
                                />
                                <path
                                        d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 0 1 0V11a.5.5 0 0 0-.5-.5m0 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"
                                />
                            </svg>
                        </button>
                    </form>
                    <form th:action="@{/eliminar/contacto/{id}(id=${contacto.id})}" method="post">
                        <button type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" class="contacts__svg" viewBox="0 0 16 16">
                                <title>Eliminar</title>
                                <path d="M12.5 9a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7m.354 5.854 1.5-1.5a.5.5 0 0 0-.708-.708l-.646.647V10.5a.5.5 0 0 0-1 0v2.793l-.646-.647a.5.5 0 0 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                                <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                            </svg>
                        </button>
                    </form>
                </div>

                <div th:if="${contacto.enSuspension}" style="display:flex;justify-content: center; align-items: center">
                    <form th:action="@{/eliminar/contacto/{id}(id=${contacto.id})}" method="post">
                        <button type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" class="contacts__svg" viewBox="0 0 16 16">
                                <title>Eliminar</title>
                                <path d="M12.5 9a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7m.354 5.854 1.5-1.5a.5.5 0 0 0-.708-.708l-.646.647V10.5a.5.5 0 0 0-1 0v2.793l-.646-.647a.5.5 0 0 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                                <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                            </svg>
                        </button>
                    </form>
                    <div>
                        <p class="error" th:text="'Usuario suspendido'">Usuario suspendido</p>
                    </div>

                </div>
            </article>
        </section>
        <!---------------------------------------   /Contactos   --------------------------------------->

        <!---------------------------------------   Contactos   SUGERIDOS--------------------------------------->

        <section
                class="contacts__aside"
                th:if="${contactosSugeridos != null}"
                id="sugeridos"
        >
            <h3 class="contacts__atitle">Sugeridos</h3>
            <div th:each="contactoSugerido : ${contactosSugeridos}">

                <article class="contacts__article">
                    <img
                            class="contacts__img"
                            th:src="@{img/perfil.jpg}"
                            alt="foto de perfil-contacto"
                    />
                    <p
                            class="contacts__text"
                            th:text="${contactoSugerido.nombre}"
                            data-testid="sugest-name"
                    >
                        Usuario
                    </p>
                    <form
                            th:action="@{/agregar/contacto/{id}(id=${contactoSugerido.id})}"
                            method="post"
                    >
                        <button class="contacts__button" type="submit" data-testid="sugest-add">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="contacts__svg"
                                    viewBox="0 0 16 16"
                            >
                                <title>Agregar</title>
                                <path
                                        d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"
                                />
                                <path
                                        d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"
                                />
                            </svg>
                        </button>
                    </form>
                </article>

                <div
                        th:if="${!contactoSugerido.enSuspension}"
                >
                    <form
                            th:action="@{/suspender/usuario/{id}(id=${contactoSugerido.id})}"
                            method="post"
                    >
                                <input
                                        class="contacts__input"
                                        name="motivo"
                                        placeholder="Motivo de suspensión"
                                />
                        <button class="contacts__button" type="submit">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="contacts__svg"
                                    viewBox="0 0 16 16"
                            >
                                <title>Suspender</title>
                                <path
                                        d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m.256 7a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"
                                />
                                <path
                                        d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 0 1 0V11a.5.5 0 0 0-.5-.5m0 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"
                                />
                            </svg>
                        </button>
                    </form>
                </div>
                <div
                        th:if="${ contactoSugerido.enSuspension}"
                >

                    <p
                            class="error"
                            th:if="${contactoSugerido.enSuspension}"
                            th:text="${mensaje}"
                    ></p>
                </div>
            </div>
        </section>
        <!---------------------------------------   Contactos   SUGERIDOS--------------------------------------->

    </div>

</main>
</body>
</html>





