<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>AssistPyme - Contactos</title>
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/contactos.css}"/>
</head>
<body class="body">
<div th:include="fragments :: navegadorLateral"></div>

<main class="contacts__main">

    <!---------------------------------------   BUSQUEDA   --------------------------------------->
    <header class="contacts__search">
        <form class="contacts__form" th:action="@{/buscar/contacto}" method="post">
            <input class="contacts__input" type="text" placeholder="Buscar contacto" name="nombre"/>
            <svg class="contacts__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </form>
    </header>


    <aside class="contacts__aside" th:if="${contactosEncontrados != null}" style="display:flex;justify-content: center">

        <!--------------------------------------->  <h3 class="contacts__atitle">Contactos encontrados</h3><!--------------------------------------->

        <article class="contacts__article" th:each="contactoEncontrado : ${contactosEncontrados}">

            <img class="contacts__img" th:src="@{img/perfil.jpg}" alt="foto de perfil-contacto"/>
            <p class="contacts__text" th:text="${contactoEncontrado.nombre}">Usuario</p>

                <div th:if="${contactoEncontrado?.enSuspension == false}">
                    <form th:action="@{/suspender/usuario/{id}(id=${contactoEncontrado.id})}" method="post" style="display:flex;justify-content: center; align-items: center">
                        <textarea name="motivo" id="contactoEcontrado" cols="30" rows="2.5" placeholder="motivo de suspension"></textarea>
                        <button class="button__primary" type="submit">Suspender Usuario</button>
                    </form>
                </div>
            <div th:if="${ mensajeContactoEnLista != null}">
            <form th:action="@{/eliminar/contacto/{id}(id=${contactoEncontrado.id})}" method="post">
                <button class="button__primary" type="submit">Eliminar Usuario</button>
            </form>
            </div>
                <div th:if="${ mensajeContactoEnLista == null && !contactoEncontrado.enSuspension}">
                    <form th:action="@{/agregar/contacto/{id}(id=${contactoEncontrado.id})}" method="post"style="display:flex;justify-content: center; align-items: center">
                        <button class="button__primary" type="submit">Agregar Usuario</button>
                    </form>
                </div>
            <div th:if="${contactoEncontrado?.enSuspension == true}">
                <p class="error" th:text="'Usuario suspendido'">Usuario suspendido</p>

             </div>

        </article>
    </aside>

    <aside th:if="${mensajeContactoNoEncontrado}">
        <h1>No se encontró ningún contacto con ese nombre</h1>
    </aside>

    <!---------------------------------------   BUSQUEDA   --------------------------------------->



    <section>        <!---------------------------------------   Contactos//////Sugeridos   --------------------------------------->


        <!---------------------------------------   Contactos   --------------------------------------->
        <aside th:if="${contactos != null}" >
            <h3 class="contacts__atitle">Contactos</h3>
            <div th:each="contacto : ${contactos}" style="display:flex;justify-content: center; align-items: center">
                <article class="contacts__article">
                    <img class="contacts__img" th:src="@{img/perfil.jpg}" alt="foto de perfil-contacto"/>
                    <p class="contacts__text" th:text="${contacto.nombre}">Usuario</p>
                </article>

                <div th:if="${usuarioActual.esAdmin && !contacto.enSuspension}" style="display:flex;justify-content: center; align-items: center">
                    <form th:action="@{/suspender/usuario/{id}(id=${contacto.id})}" method="post"style="display:flex;justify-content: center; align-items: center">
                        <textarea name="motivo" id="" cols="30" rows="2.5" placeholder="motivo de suspension"></textarea>
                        <button class="button__primary" type="submit">Suspender Usuario</button>
                    </form>
                    <form th:action="@{/eliminar/contacto/{id}(id=${contacto.id})}" method="post">
                    <button class="button__primary" type="submit">Eliminar Usuario</button>
                    </form>
                </div>

                <div th:if="${contacto.enSuspension}" style="display:flex;justify-content: center; align-items: center">
                    <form th:action="@{/eliminar/contacto/{id}(id=${contacto.id})}" method="post">
                        <button class="button__primary" type="submit">Eliminar Usuario</button>
                    </form>
                    <div>
                        <p class="error" th:text="'Usuario suspendido'">Usuario suspendido</p>
                    </div>

                </div>
            </div>
        </aside>
        <!---------------------------------------   Contactos   --------------------------------------->

        <!---------------------------------------   Contactos   SUGERIDOS--------------------------------------->

        <aside class="contacts__aside" th:if="${contactosSugeridos != null}">
            <h3 class="contacts__atitle">Contactos Sugeridos</h3>
            <div th:each="contactoSugerido : ${contactosSugeridos}" style="display:flex;justify-content: center; align-items: center">


                <article class="contacts__article">
                    <img class="contacts__img" th:src="@{img/perfil.jpg}" alt="foto de perfil-contacto"/>
                    <p class="contacts__text" th:text="${contactoSugerido.nombre}">Usuario</p>
                </article>

                <div th:if="${usuarioActual.esAdmin && !contactoSugerido.enSuspension}" style="display:flex;justify-content: center; align-items: center">
                    <form th:action="@{/agregar/contacto/{id}(id=${contactoSugerido.id})}" method="post">
                        <button class="button__primary" type="submit">Agregar Usuario</button>
                    </form>
                    <form th:action="@{/suspender/usuario/{id}(id=${contactoSugerido.id})}" method="post" style="display:flex;justify-content: center; align-items: center">
                        <textarea name="motivo" cols="30" rows="2.5" placeholder="motivo de suspension"></textarea>
                        <button class="button__primary" type="submit">Suspender Usuario</button>
                    </form>
                </div>
                <div th:if="${usuarioActual.esAdmin && contactoSugerido.enSuspension}">
                    <p class="error" th:text="'Usuario suspendido'">Usuario suspendido</p>
                </div>

            </div>
        </aside>
        <!---------------------------------------   Contactos   SUGERIDOS--------------------------------------->

    </section>


</main>


</body>
</html>
