<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AssistPyme - Crear Inversion</title>
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/gasto.css}"/>
    <link rel="stylesheet" th:href="@{/css/inversiones.css}"/>
</head>
<body class="body">
<div th:include="fragments :: navegadorLateral"></div>
<main class="investments__main">
    <header class="investments__header">
        <form class="investments__search">
            <input class="investments__input" type="text" placeholder="Buscar proyecto" />
            <svg xmlns="http://www.w3.org/2000/svg" class="investments__icon" viewBox="0 0 16 16">
                <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                />
            </svg>
        </form>
       
    </header>
    <form class="spent__form" action="#" th:action="@{/guardarproyeinversion}" method="POST" th:object="${proyeInversion}">
        <fieldset class="spent__fieldset">
            <label class="spent__label" for="titulo">Título:</label>
            <input class="spent__input" id="titulo" th:field ="*{titulo}" name="titulo" type="text" min="3" max="250" required placeholder='Creacion de gorras' />
        </fieldset>
        <fieldset class="spent__fieldset">
            <label class="spent__label" for="descripcion">Descripción:</label>
            <input class="spent__input" id="descripcion" th:field ="*{description}" type="text" min="3" max="250" required placeholder='Comida' />
        </fieldset>
        <fieldset class="spent__fieldset">
            <label class="spent__label" for="montoRequerido">Monto Requerido:</label>
            <input class="spent__input" id="montoRequerido" th:field ="*{montoRequerido}" type="text" min="3" max="99999999" required placeholder='$100.000.00' />
        </fieldset>
        <fieldset class="spent__fieldset">
            <label class="spent__label" for="plazoParaInicio">Plazo de Inicio</label>
            <input class="spent__input" id="plazoParaInicio" th:field ="*{plazoParaInicio}" type="datetime-local" />
        </fieldset>
        <fieldset class="spent__fieldset">
            <label class="spent__label" for="plazoParaFinal">Plazo para finalización</label>
            <input class="spent__input" id="plazoParaFinal" th:field ="*{plazoParaFinal}" type="datetime-local" />
        </fieldset>
        <div class='spent__button'>
            <button class='button__primary'>Guardar Proyecto</button>
        </div>
    </form>
</main>
</body>
</html>
