<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AssistPyme - Crear Gasto</title>
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/gasto.css}"/>
    <link rel="stylesheet" th:href="@{/css/inversiones.css}"/>
</head>
<body class="body">
<div th:include="fragments :: navegadorLateral"></div>
<main class="investments__main">
    <header class="investments__header">
        <form class="investments__search">
            <input class="investments__input" type="text" placeholder="Buscar Gasto" />
            <svg xmlns="http://www.w3.org/2000/svg" class="investments__icon" viewBox="0 0 16 16">
                <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                />
            </svg>
        </form>
    </header>
    <form class="spent__form" action="#" th:action="@{/registrarGasto}" method="post" th:object="${gastoDTO}">
        <fieldset class="spent__fieldset">
            <label class="spent__label" for="descripcion">*Descripción:</label>
            <input class="spent__input" id="descripcion" name="descripcion" th:field="*{descripcion}" type="text" min="3" max="15" required placeholder='Comida' />
        </fieldset>
        <fieldset class="spent__fieldset">
            <label class="spent__label" for="valor">*Valor:</label>
            <input class="spent__input" id="valor" name="valor" th:field="*{valor}" type="number" min="1" max="10000000" required placeholder='97' />
        </fieldset>
        <fieldset class="spent__fieldset">
            <label class="spent__label" for="fechaVencimiento">*Fecha de vencimiento:</label>
            <input class="spent__input" id="fechaVencimiento" name="fechaVencimiento" th:field="*{fechaVencimiento}" type="date" required />
        </fieldset>
        <fieldset class="spent__fieldset">
            <label class="spent__label" for="fechaRecordatorio">Fecha de recordatorio:</label>
            <input class="spent__input" id="fechaRecordatorio" name="fechaRecordatorio" th:field="*{fechaRecordatorio}" type="date" />
        </fieldset>
        <fieldset class="spent__fieldset">
            <label class="spent__label" for="frecuencia">Frecuencia:</label>
            <select class="spent__input" id="frecuencia" name="frecuencia" th:field="*{frecuencia}">
                <option value="UNICO">UNICO</option>
                <option value="MENSUAL">MENSUAL</option>
                <option value="BIMESTRAL">BIMESTRAL</option>
                <option value="SEMESTRAL">SEMESTRAL</option>
                <option value="ANUAL">ANUAL</option>
            </select>
        </fieldset>
        <button class="button__primary" id="btn-gasto">Agregar Gasto</button>
        <p class="error" th:if="${error != null}" th:text="'Error: ' + ${error}"></p>
    </form>
</main>
</body>
</html>
