<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AssistPyme - Crear Gasto</title>
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/inversiones.css}"/>
</head>
<body class="body">
<div th:include="fragments :: navegadorLateral"></div>
<main class="investments__main">
    <header class="investments__header">
        <form class="investments__search">
            <input class="investments__input" type="text" placeholder="Buscar Gasto" />
            <svg xmlns="http://www.w3.org/2000/svg" class="investments__icon" viewBox="0 0 16 16">
                <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                />
            </svg>
        </form>
       
    </header>
    <form class="spent__form" action="#" th:action="@{http://localhost:8080/spring/registrarGasto}" method="POST" th:object="${gasto}">
        <fieldset class="spent__fieldset">
            <label class="spent__label" for="descripcion">Descripción:</label>
            <input class="spent__input" id="descripcion" th:field="*{descripcion}" type="text" min="3" max="15" required placeholder='Comida' />
        </fieldset>
        <fieldset class="spent__fieldset">
            <label class="spent__label" for="valor">Valor:</label>
            <input class="spent__input" id="valor" name="valor" type="number" min="1" required placeholder='$10.000' />
        </fieldset>
        <fieldset class="spent__fieldset">
            <label class="spent__label" for="vencimiento">Fecha de vencimiento: (opcional)</label>
            <input class="spent__input" id="vencimiento" name="vencimiento" type="date" />
        </fieldset>
        <fieldset class="spent__fieldset">
            <label class="spent__label" for="recordatorio">Fecha de recordatorio: (opcional)</label>
            <input class="spent__input" id="recordatorio" name="recordatorio" type="date" />
        </fieldset>
        <fieldset class="spent__fieldset">
            <label class="spent__label" for="frecuencia">Frecuencia: (opcional)</label>
            <select class="spent__input" id="frecuencia" name="frecuencia" >
                <option value="unico">Unico</option>
                <option value="diario">Diario</option>
                <option value="semanal">Semanal</option>
                <option value="mensual">Mensual</option>
                <option value="bimestral">Bimestral</option>
                <option value="semestral">Semestral</option>
                <option value="anual">Anual</option>
            </select>
        </fieldset>
        <button class="button__primary" id="btn-gasto">Agregar Gasto</button>
        <p class="error" th:if="${error != null}" th:text="'Error: ' + ${error}"></p>
    </form>
</main>
</body>
</html>
