<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AssistPyme - Dashboard</title>
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
</head>
<body class="body">
<div th:include="fragments :: navegadorLateral"></div>
<main class="dashboard__main">
    <nav class="dashboard__top">
        <div class="dashboard__left">
            <a href="#" th:href="@{/perfil}"><img class="dashboard__userimg" th:src="@{img/perfil.jpg}" alt="foto de perfil" /></a>
            <h2 class="dashboard__usertext">Bienvenido, <span th:text="${usuario.nombre}"></span>!</h2>
        </div>
        <div class="dashboard__right">
            <a class="dashboard__link" th:href="@{/inversiones}" id="linkInversiones">Ir a Inversiones -></a>
        </div>
    </nav>

    <header class="dashboard__header">
        <a class="box" th:href="@{/saldo}">
            <div class="box__cont">
                <div class="box__top">
                    <h3 class="box__text">Saldo Total</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" class="box__icon" viewBox="0 0 16 16">
                        <path
                                d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"
                        />
                    </svg>
                </div><p class="box__number" th:text="'$' + ${#numbers.formatDecimal(usuario.saldo, 0, 'POINT', 2, 'COMMA')}" id="saldoTotal"></p>
            </div>
        </a>
        <a class="box" th:href="@{/dashboardGastos}">
            <div class="box__cont">
                <div class="box__top">
                    <h3 class="box__text">Gastos del Mes</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" class="box__icon" viewBox="0 0 16 16">
                        <path
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"
                        />
                        <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
                    </svg>
                </div>
                
                <p class="box__number" th:text="${totalGastosMesEnCurso == 0 ? '$0,00' : '$' + #numbers.formatDecimal(totalGastosMesEnCurso, 0, 'POINT', 2, 'COMMA')}"  id="gastosMes">0,00</p>
            </div>
        </a>
        <a class="box" th:href="@{/inversiones}">
            <div class="box__cont">
                <div class="box__top">
                    <h3 class="box__text">Proyectos Activos</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" class="box__icon" viewBox="0 0 16 16">
                        <path
                                d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"
                        />
                    </svg>
                </div>
                <p class="box__number" th:text="${ctdadProyesActivos}"></p>
            </div>
        </a>
        <a class="box" th:href="@{/vencimientos}">
            <div class="box__cont">
                <div class="box__top">
                    <h3 class="box__text">Servicios por Vencer</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" class="box__icon" viewBox="0 0 16 16">
                        <path
                                d="M6.445 11.688V6.354h-.633A13 13 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23"
                        />
                        <path
                                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"
                        />
                    </svg>
                </div>
                <p class="box__number" th:text="${cantidadGastosPorVencer}"></p>
            </div>
        </a>
    </header>

    <div class="content">
        <section class="content__section" >
            <header class="content__header">
                <div class="content__div">
                    <h4 class="content__title">Tu última actividad:</h4>
                </div>
                <div class="content__div">
                    <a class="content__link" th:href="@{/crearGasto}">
                        <button class="button__secondary">Agregar Gasto</button>
                    </a>
                </div>
            </header>
            <article class="activity" th:each="gasto : ${gastos}">
                <h5 class="activity__subtitle" th:text="${gasto.descripcion}">Servicios de electricidad</h5>
                <p class="activity__number" th:text="'$' + ${#numbers.formatDecimal(gasto.valor, 0, 'POINT', 2, 'COMMA')}">$3.450</p>
                <p class="activity__description" th:text="${gasto.frecuencia}">Gasto</p>
                <p class="activity__date" th:text="${#dates.format(gasto.fechaVencimiento, 'dd/MM/YYYY')}">18/09</p>
            </article>
        </section>
        <section class="content__section">
            <header class="content__header">
                <div class="content__div">
                    <h4 class="content__title">Proyectos nuevos:</h4>
                </div>
                <div class="content__div">
                    <a class="content__link" th:href="@{/crearProyeInversion}">
                        <button class="button__secondary">Nuevo Proyecto</button>
                    </a>
                </div>
            </header>
            <article class="proyect">
                <h5 class="proyect__subtitle">Compra de auto usado para refacción y reventa</h5>
                <p class="proyect__part"><span>42</span> participantes</p>
                <p class="proyect__total">Recaudado <span>$754.159</span></p>
            </article>
        </section>
    </div>
</main>
</body>
</html>
