<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AssistPyme - Ingreso</title>
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body class="login__body">
<aside class="login__aside"></aside>
<main class="login__main">
    <div class="login__content">
        <h1 class="login__h1">Bienvenido a AssistPyme</h1>
        <h2 class="login__h2">Ingresa para gestionar tus finanzas, colaborar en proyectos y hacer crecer tus inversiones</h2>
        <form class="login__form" action="#" th:action="@{/validar-login}" method="POST" th:object="${datosLogin}">
            <fieldset class="login__fieldset">
                <label class="login__label" for="email">Email:</label>
                <input
                        class="login__input"
                        th:field="*{email}"
                        id="email"
                        type="email"
                        min="3"
                        max="15"
                        required
                />
            </fieldset>
            <fieldset class="login__fieldset">
                <label class="login__label" for="password">Contraseña:</label>
                <input
                        class="login__input"
                        th:field="*{password}"
                        type="password"
                        id="password"
                        min="3"
                        max="15"
                        required
                />
            </fieldset>
            <button class="button__primary" id="btn-login">Iniciar sesión</button>
            <p class="error" th:if="${error != null}" th:text="'Error ' + ${error}"></p>
        </form>
        <aside class="login__register">
            <p class="login__text">¿No tienes una cuenta? <a class="login__link" href="">Registrate</a></p>
        </aside>
    </div>
</main>
</body>
</html>
